# Enable Linux Kernel USB Support
CONFIG_USB_SUPPORT=y
CONFIG_USB_COMMON=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_USB=y
CONFIG_USB_PCI=y

# Support for USB 2.0 (EHCI), USB 3.x (XHCI), and old USB 1.1 (UHCI/OHCI)
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_UHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_HAS_IOPORT=y
CONFIG_USB_UHCI_SUPPORT_NON_PCI_HC=y
CONFIG_HAS_DMA=y
CONFIG_HAS_IOMEM=y

# Map USB storage as a SCSI block device (creates /dev/sdX)
CONFIG_USB_STORAGE=y
CONFIG_USB_UAS=y
CONFIG_SCSI=m
CONFIG_BLK_DEV_SD=y

# Core ATA/SATA Framework
CONFIG_ATA=y
CONFIG_BLOCK=y
CONFIG_ATA_VERBOSE_ERROR=y
CONFIG_SATA_PMP=y

# Standard AHCI SATA Controller Driver
CONFIG_SATA_AHCI=y

# Legacy Intel Chipset Fallback
CONFIG_ATA_PIIX=m

# Core SCSI SAS Domain Framework
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SCSI_SAS_ATA=y
CONFIG_SCSI_SAS_HOST_SMP=y

# LSI/Broadcom/Avago MegaRAID and MPT SAS Drivers
CONFIG_MEGARAID_MM=m
CONFIG_MEGARAID_NEWGEN=y
CONFIG_MEGARAID_MAILBOX=m
CONFIG_MEGARAID_SAS=m
CONFIG_MEGARAID_LEGACY=m
CONFIG_SCSI_MPT3SAS=m
CONFIG_SCSI_MPT2SAS=m

# Enable Linux Kernel RAID Support
CONFIG_BLK_DEV_MD=y
CONFIG_MD_RAID0=y
CONFIG_MD_RAID1=y
CONFIG_MD_RAID10=y
CONFIG_MD_RAID456=y
CONFIG_BLK_DEV_NVME=y
CONFIG_MD=y

# Filesystem support
CONFIG_PARTITION_ADVANCED=y
CONFIG_MSDOS_PARTITION=y
CONFIG_EFI_PARTITION=y

# File systems for your installer USB and the OpenWRT deployment
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y

# Virtual Terminal Graphics Support for iTUI
CONFIG_VT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_HW_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y

# Graphics DRM Core Stack
CONFIG_DRM=y
CONFIG_DRM_MIPI_DSI=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_PANEL=y
CONFIG_DRM_BRIDGE=y
CONFIG_PCI=y
CONFIG_MMU=y

# Physical Framebuffer Core and UEFI Fallback
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_FB_EFI=y
CONFIG_FB_SIMPLE=y

# Open-Source Graphics Drivers for Intel, AMD, and Nvidia
CONFIG_DRM_I915=y
CONFIG_DRM_AMDGPU=y
CONFIG_DRM_RADEON=y
CONFIG_DRM_NOUVEAU=y

# x86_64 Architecture Specific Options
CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_X86=y
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m

# X86-64 Idle Support
CONFIG_X86_NATIVE_CPU=y
CONFIG_INTEL_IDLE=y
CONFIG_CPU_IDLE=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_EXPERIMENTAL=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_X86_AMD_PSTATE=y
CONFIG_ACPI_PROCESSOR=m
CONFIG_ACPI=y

# Virtualization Support
CONFIG_KVM=y
CONFIG_KVM_INTEL=m
CONFIG_KVM_AMD=m

# Enable IOMMU support for virtualization
CONFIG_INTEL_IOMMU=y
CONFIG_AMD_IOMMU=y

# UEFI Runtime support
CONFIG_EFI=y
CONFIG_EFIVAR_FS=y
CONFIG_EFI_STUB=y
