# Target System Architecture Definition
BR2_x86_64=y
BR2_GCC_TARGET_ARCH="x86-64-v2"
BR2_x86_x86_64_v2=y
# BR2_x86_x86_64 is not set
BR2_ENABLE_DEBUG=y
BR2_ENABLE_RUNTIME_DEBUG=y

# Core System Performance Tooling
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Base Initramfs Packing Protocol
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_ZSTD=y
# BR2_TARGET_ROOTFS_INITRAMFS is not set

# Custom Media File Injection (Your TUI Overlays)
# BR2_ROOTFS_OVERLAY="system/skeleton_overlay"
BR2_ROOTFS_OVERLAY="$(TOPDIR)/../buildrootConf/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/../buildrootConf/inittab/append.sh"

# Enable Buildroot Compiler Caching
BR2_CCACHE=y
BR2_CCACHE_DIR="$(TOPDIR)/.buildroot-ccache"

# Compiling Core Partitioning and Management Utilities
BR2_INSTALL_LIBSTDCPP=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_WIPEFS=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y
BR2_PACKAGE_UTIL_LINUX_MOUNTPOINT=y
BR2_PACKAGE_UTIL_LINUX_FSCK=y

# Compiling other core Linux utilities
BR2_USE_MMU=y
BR2_USE_WCHAR=y
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(TOPDIR)/busyboxOptions.config"
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_COREUTILS_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_KILL=y
BR2_PACKAGE_HOST_UTIL_LINUX=y
BR2_PACKAGE_ACPID=y
BR2_PACKAGE_HOST_RUSTC=y
BR2_LINUX_KERNEL_NEEDS_HOST_PYTHON3=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_UTIL_LINUX_HARDLINK=y
BR2_PACKAGE_UTIL_LINUX_HWCLOCK=y
BR2_PACKAGE_UTIL_LINUX_LOGGER=y
BR2_PACKAGE_UTIL_LINUX_LSMEM=y
BR2_PACKAGE_UTIL_LINUX_SU=y
BR2_PACKAGE_UTIL_LINUX_SULOGIN=y
BR2_PACKAGE_UTIL_LINUX_SWITCH_ROOT=y
BR2_PACKAGE_UTIL_LINUX_WALL=y
BR2_PACKAGE_UTIL_LINUX_WRITE=y

# Buildroot System Extensions, Options and Tools
BR2_PACKAGE_OPENVMTOOLS_ARCH_SUPPORTS=y
BR2_PACKAGE_MAKEDUMPFILE_ARCH_SUPPORTS=y
BR2_PACKAGE_LIBVIRT_ARCH_SUPPORTS=y
BR2_PACKAGE_AUDIT_ARCH_SUPPORTS=y
BR2_PACKAGE_EFIVAR_ARCH_SUPPORTS=y
BR2_PACKAGE_FLASHROM_ARCH_SUPPORTS=y
BR2_PACKAGE_INITSCRIPTS=y
BR2_PACKAGE_EFIVAR=y
BR2_PACKAGE_URANDOM_SCRIPTS=y
BR2_PACKAGE_READLINE=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_NCURSES_ADDITIONAL_TERMINFO=""
BR2_PACKAGE_FLASHROM=y

# Compiling Core Filesystem Formatters
# note: the following package is replaced by
# the inclusion of BR2_PACKAGE_UTIL_LINUX_FSCK
BR2_PACKAGE_E2FSPROGS_FSCK=y
##############################################
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_EFIBOOTMGR=y
BR2_PACKAGE_PARTED=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_E2FSPROGS_DEBUGFS=y
BR2_PACKAGE_EXFAT_UTILS=y
BR2_PACKAGE_HDPARM=y
BR2_PACKAGE_HWDATA=y
BR2_PACKAGE_HWDATA_IAB_OUI_TXT=y
BR2_PACKAGE_HWDATA_PCI_IDS=y
BR2_PACKAGE_HWDATA_PNP_IDS=y
BR2_PACKAGE_HWDATA_USB_IDS=y

# Compiling Interactive Dialog Framework
BR2_PACKAGE_DIALOG=y

# Compiling Dynamic Soft-RAID Configuration Tooling
BR2_PACKAGE_MDADM=y

# Linux Archiving Packages
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_UNZIP=y
BR2_PACKAGE_TAR=y

# Storage Utilities
BR2_PACKAGE_NVME=y

# Other Packages
BR2_PACKAGE_SUPERVISOR=y
BR2_PACKAGE_VIM=y
BR2_PACKAGE_VIM_RUNTIME=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_BASH_COMPLETION=y
BR2_PACKAGE_ZSH=y
BR2_PACKAGE_SED=y
BR2_PACKAGE_SEDUTIL=y
BR2_PACKAGE_MAWK=y
BR2_PACKAGE_GAWK=y
BR2_PACKAGE_GREP=y
BR2_PACKAGE_FINDUTILS=y
BR2_PACKAGE_DIFFUTILS=y
BR2_PACKAGE_DOS2UNIX=y
BR2_PACKAGE_FD=y
BR2_PACKAGE_JQ=y
BR2_PACKAGE_TREE=y
BR2_PACKAGE_CPIO=y
BR2_PACKAGE_PATCH=y
BR2_PACKAGE_UTIL_LINUX_MORE=y
BR2_PACKAGE_LIBCAP=y
BR2_PACKAGE_LM_SENSORS=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PERL=y
BR2_PACKAGE_FIRMWARE_UTILS=y
BR2_PACKAGE_GPM=y
BR2_PACKAGE_GPM_INSTALL_TEST_TOOLS=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_JIMTCL=y
BR2_PACKAGE_UEFISETTINGS=y
BR2_PACKAGE_USB_MODESWITCH=y
BR2_PACKAGE_USB_MODESWITCH_DATA=y
BR2_PACKAGE_TPM2_TSS=y
BR2_PACKAGE_TPM2_TSS_FAPI=y
BR2_PACKAGE_JSON_C=y
BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_PCRE2=y
BR2_PACKAGE_SLANG=y
BR2_PACKAGE_IFUPDOWN=y
BR2_PACKAGE_IPSET=y
BR2_PACKAGE_IPTRAF_NG=y
BR2_PACKAGE_OPKG=y
BR2_PACKAGE_OPKG_GPG_SIGN=y
BR2_PACKAGE_MKSH=y
BR2_PACKAGE_GNUPG2=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_TIME=y
BR2_PACKAGE_TTYD=y
BR2_PACKAGE_WHICH=y
BR2_PACKAGE_KEYUTILS=y
BR2_PACKAGE_RSYSLOG=y
BR2_PACKAGE_RSYSLOG_EXTRA_PLUGINS=y
BR2_PACKAGE_LESS=y
BR2_PACKAGE_MOST=y

# OpenSSH
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_CLIENT=y
BR2_PACKAGE_OPENSSH_SERVER=y
BR2_PACKAGE_OPENSSH_KEY_UTILS=y
BR2_PACKAGE_OPENSSH_SANDBOX=y

# TPM Support
BR2_PACKAGE_TPM_TOOLS=y
BR2_PACKAGE_TPM2_ABRMD=y
BR2_PACKAGE_TPM2_TOOLS=y
BR2_PACKAGE_TPM2_TOOLS_FAPI=y
BR2_PACKAGE_TPM2_TOTP=y

# Python and LM Sensors Packages
BR2_PACKAGE_PYTHON_PYSENSORS=y
BR2_PACKAGE_LM_SENSORS_SENSORS=y
BR2_PACKAGE_LM_SENSORS_FANCONTROL=y
BR2_PACKAGE_LM_SENSORS_ISADUMP=y
BR2_PACKAGE_LM_SENSORS_ISASET=y
BR2_PACKAGE_LM_SENSORS_PWMCONFIG=y
BR2_PACKAGE_LM_SENSORS_SENSORS_DETECT=y

# Other Python Packages
BR2_PACKAGE_PYTHON_PIP=y
BR2_PACKAGE_PYTHON_SETUPTOOLS=y
BR2_PACKAGE_PYTHON3_SSL=y
BR2_PACKAGE_PYTHON_REQUESTS=y
BR2_PACKAGE_PYTHON_JSONMODELS=y
BR2_PACKAGE_PYTHON_YAMLLINT=y
BR2_PACKAGE_PYTHON_DATEUTIL=y
BR2_PACKAGE_PYTHON_TOML=y


# Added 23SEP when adding EUDEV support
# Async Operation
BR2_PACKAGE_EUDEV=y
BR2_PACKAGE_HOST_EUDEV=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_KMOD_TOOLS=y
BR2_PACKAGE_HOST_KMOD=y
BR2_PACKAGE_EUDEV_ENABLE_HWDB=y
BR2_PACKAGE_EUDEV_MODULE_LOADING=y

# Linux Kernel Build Engine Instructions
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_ZSTD=y

# Critical Kernel RAID Driver Compilation Directives
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(TOPDIR)/kernelOptions.config"

# Linux Firmware Packages
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_RADEON=y
BR2_PACKAGE_LINUX_FIRMWARE_AMDGPU=y
BR2_PACKAGE_LINUX_FIRMWARE_XE=y
BR2_PACKAGE_LINUX_FIRMWARE_I915=y
BR2_PACKAGE_LINUX_FIRMWARE_AMD_UCODE=y
# BR2_PACKAGE_IUCODE_TOOL=n

# System Configuration
BR2_TARGET_GENERIC_HOSTNAME="OpenWRT-Installer"
BR2_TARGET_GENERIC_ISSUE="Welcome to the OpenWRT RAID Installer"
BR2_TARGET_ENABLE_ROOT_LOGIN=y
BR2_TARGET_GENERIC_ROOT_PASSWD=""
BR2_SYSTEM_BIN_SH_BASH=y
BR2_SYSTEM_BIN_SH="bash"
# Added 23SEP when adding EUDEV support
# DEVTMPFS is disabled intentionally for EUDEV
# BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=n
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Custom Options
BR2_KEEP_MAN_PAGES_DOCS=y
BR2_PACKAGE_GROFF=y
BR2_PACKAGE_GROFF_VERSION="1.24.2"
