# Target System Architecture Definition
BR2_x86_64=y

# Core System Performance Tooling
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# Base Initramfs Packing Protocol
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_ZSTD=y
BR2_TARGET_ROOTFS_INITRAMFS=y

# Custom Media File Injection (Your TUI Overlays)
BR2_ROOTFS_OVERLAY="system/skeleton_overlay"

# Compiling Core Partitioning and Management Utilities
BR2_INSTALL_LIBSTDCPP=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y

# Compiling other core Linux utilities
BR2_USE_MMU=y
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_COREUTILS_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_KILL=y
BR2_PACKAGE_HOST_UTIL_LINUX=y

# Compiling Core Filesystem Formatters
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_EFIBOOTMGR=y
BR2_PACKAGE_PARTED=y

# Compiling Interactive Dialog Framework
BR2_PACKAGE_DIALOG=y

# Compiling Dynamic Soft-RAID Configuration Tooling
BR2_PACKAGE_MDADM=y

# Linux Archiving Packages
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_UNZIP=y
BR2_PACKAGE_TAR=y

# Storage Utilities
BR2_PACKAGE_NVME=y

# Other Packages
BR2_PACKAGE_VIM=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_ZSH=y

# Linux Kernel Build Engine Instructions
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_ZSTD=y

# Critical Kernel RAID Driver Compilation Directives
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="kernelOptions.config"
